.userForm {
	width: 100%;
}
.formNav {
	height: 90vh;
	position: relative;
	display: inline;
}
.formNav ul{
	text-align: center;
}
.formNav li {
	width: 100%;
	float: left;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
}
.formNav h1,h2 {
	text-align: center;
}
form {
	text-align: center;
	position: relative;
	max-height: 80vh;
}
button {
	margin-left: 2.5vw;
}
form p.description {
}
label {
	color: black;
}